.modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: none;
  max-width: 75vw;
  width: 100%;
  border-radius: 10px;

  #close {
    font-size: 40px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &::backdrop {
    background-color: rgba(93, 113, 221, 0.5);
  }
}
