.slider-nav {
  width: 84px;
  overflow: hidden;

  & .swiper-wrapper {
    width: 95%;
    margin-left: 3%;
    padding: 2px 0;
  }

  &__item {
    height: 82px !important;
    width: 100%;
    background-color: var(--main-bg);
    border-radius: var(--border-radius);
    // overflow: hidden;
    cursor: pointer;

    img {
      max-height: 100%;
      height: 100%;
    }

    &.swiper-slide-thumb-active {
      outline: 2px solid var(--color-accent);
    }

    @media screen and (max-width: 1024px) {
      height: 200px !important;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.slider-block {
  width: calc(100% - 86px - 20px);
  // max-height: 360px;
  height: 100%;
  overflow: hidden;

  &__slide {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 1024px) {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
}
