.tabs {
    --translate-filters-slider: 0;

    &__container {
        overflow: hidden;
        padding: 0 3rem;
        transition: max-height 0.4s ease-in-out;
        max-height: var(--filters-container-height);
    }

    &__wrapper {
        position: relative;
        transition: opacity 0.2s ease-in-out;
        opacity: var(--filters-wrapper-opacity);
    }

    &__list {
        display: flex;
        border-radius: 1rem;
        padding: 0.3rem;
        overflow: hidden;
        background-color: var(--orange-50);
    }

    &__item {
        position: relative;
        z-index: 1;
        display: flex;
        flex: 1 0 calc(100% / 6);

        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.8rem;
            flex-grow: 1;
            height: 3rem;
            padding: 0 1.5rem;
            color: #000;
            background-color: transparent;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 1.4rem;

            &.js-active {
                transition: color 0.4s ease-in-out;
                // background-color: var(--color-accent);
                color: #fff;
            }
        }
    }

    &__slider {
        pointer-events: none;
        position: absolute;
        padding: 0.3rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;

        &-track {
            height: 3rem;
            width: 33.33%;
            border-radius: 0.8rem;
            background-color: var(--white);
            box-shadow: 0 0.1rem 1rem -0.4rem rgba(0, 0, 0, 0.12);
            transition: transform 0.4s ease-in-out;
            transform: translateX(var(--translate-filters-slider));
        }
    }
}