button.Toggle {
    border: 0; /* 1 */
    padding: 0; /* 1 */
    background: transparent; /* 1 */
    font: inherit; /* 1 */
}

.Toggle:focus {
    outline: 0; /* 1 */
  }
.toggle {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1ch;

  &__display {
    --offset: 0.1em;
    --diameter: 1.05em;
  
    display: inline-flex; /* 1 */
    align-items: center; /* 1 */
    justify-content: space-around; /* 1 */
  
    width: calc(var(--diameter) * 2 + var(--offset) * 2); /* 2 */
    height: calc(var(--diameter) + var(--offset) * 2); /* 2 */
    box-sizing: content-box; /* 2 */
  
    border: 0.1em solid rgb(0 0 0 / 0.2); /* 3 */
  
    position: relative; /* 4 */
    border-radius: 100vw; /* 5 */
    background-color: var(--color-white); /* 6 */
  
    transition: 250ms;
    cursor: pointer;

    &::before {
      content: '';
  
      width: var(--diameter);
      height: var(--diameter);
      border-radius: 50%;
    
      box-sizing: border-box;
      border: 0.1 solid rgb(0 0 0 / 0.2);
    
      position: absolute;
      z-index: 2;
      top: 50%;
      left: var(--offset);
      transform: translate(0, -50%);
    
      background-color: var(--color-white);
      filter: drop-shadow(2px 4px 6px black);
      transition: inherit;
    }
  }

  &__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;

    &:focus + .toggle__display {
      outline: 1px dotted #212121;
      outline: 1px auto -webkit-focus-ring-color;
    }

    &:focus:not(:focus-visible) + .toggle__display {
      outline: 0;
    }

    &:checked + .toggle__display {
      background-color: var(--color-accent);
    }

    &:checked + .toggle__display::before {
      transform: translate(100%, -50%);
    }

    &:disabled + .toggle__display {
      opacity: 0.6;
      filter: grayscale(40%);
      cursor: not-allowed;
    }
  }

  [dir='rtl'] .toggle__display::before {
    left: auto;
    right: var(--offset);
  }

  [dir='rtl'] .toggle__input:checked + .toggle__display::before {
    transform: translate(-100%, -50%);
  }

  @media (prefers-reduced-motion: reduce) {
      &_display {
        transition-duration: 0ms;
      }
  }
}