<section class="section cart">
  <div class="container">
    <div class="section__header">
      <h2 class="title h2">Cart</h2>
    </div>

    <div class="cart__inner">
      <ul class="cart__list"></ul>

      <div class="cart__total">
        <div class="cart__total-block">
          <h3 class="h3 cart__total-title">Total:</h3>
          <dl class="chars">
            <div class="chars__item">
              <dt class="chars__term">Positions</dt>
              <dd class="chars__val">1</dd>
            </div>
            <div class="chars__item">
              <dt class="chars__term">Total price</dt>
              <dd class="chars__val">0</dd>
            </div>
          </dl>
          <button class="btn">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</section>
