<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="title">Избранные товары</h2>
    </div>

    <div class="products-content grid-container">
      <div class="filters">
        <h2 class="filters__title">Сортировка</h2>
        <div class="filters__item filters-price fixed">
          <div class="filters-price__slider range">
            <label for="" class="range__label">Цена</label>
            <input
              class="range__input"
              type="range"
              min="100"
              max="9999999"
              step="1"
              value="100"
              name="price"
              id="price"
            />
          </div>
          <div class="filters-price__inputs">
            <div class="filters-price__block">
              <input
                type="text"
                minlength="3"
                maxlength="7"
                value="100"
                class="filters-price__input"
              />
            </div>
            <div class="filters-price__block">
              <input
                type="text"
                minlength="3"
                maxlength="7"
                value="100 000"
                class="filters-price__input"
              />
            </div>
          </div>
        </div>
      </div>
      <ul class="products-grid">
        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>

        <li class="products-grid__item">
          <article class="product">
            <div class="product__image">
              <div class="product__switch image-switch">
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-view-blue-lake-captured-from-inside-villa_181624-10734.jpg?t=st=1742325552~exp=1742329152~hmac=2ab874b961806b0fb94d4a4699319f93c26e88291eb9a090f6b7130f5a1ffdf0&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/luxury-beach-house-with-glass-windows-beautiful-scenery-sea_181624-9041.jpg?t=st=1742325583~exp=1742329183~hmac=9c4165b539283a0f06f86c719a625c874d51273863ade191f5a99f4eab02585d&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
                <div class="image-switch__item">
                  <div class="image-switch__img">
                    <img
                      src="https://img.freepik.com/free-photo/beautiful-kitchen-with-modern-interior_181624-57935.jpg?t=st=1742325608~exp=1742329208~hmac=2f4b36bbcd92c60097953719d1b7c2f7ecf98a832ccd31cc1fead1adc7a72896&w=996"
                      alt=""
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                </div>
              </div>
              <ul class="product__image-pagination image-pagination" aria-hidden="true"></ul>
              <button class="product__favorite">
                <svg
                  width="800px"
                  height="800px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="product__body">
              <h3 class="h3 product__title">
                <a href="#">Панорамные окна Melke</a>
              </h3>
              <div class="product__props">
                <span class="product__rating">
                  <svg
                    width="32"
                    height="32"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <path
                      d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
                    />
                  </svg>

                  4.5
                </span>
                <span class="product__testimonials">83 отзыва</span>
              </div>

              <div class="product__info">
                <span class="product__term">Артикул: 123456</span>
                <span class="product__available">В наличии: 13шт.</span>
              </div>

              <div class="product__price product-price">
                <span class="product-price__current">40000 ₽</span>
                <span class="product-price__old">60000 ₽</span>
              </div>

              <button class="product__btn">Добавить в корзину</button>
            </div>
          </article>
        </li>
      </ul>
    </div>
    <div class="height"></div>
  </div>
</section>
