.card {
  &__inner {
    margin-bottom: 40px;
    display: flex;
    gap: 60px;
  }

  &-slider {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 592px;
  }

  &-info {
    width: calc(100% - 592px - 60px);

    &__testimonials {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      &-link {
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid var(--color-accent);
      }
    }

    &__triggers {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 60px;
  }

  &-features {
    width: calc(100% - 592px - 60px);

    &__title {
      margin-bottom: 20px;
    }
  }

  &-description {
    width: 592px;

    &__title {
      margin-bottom: 20px;
    }
  }
}

.vendor {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 14px;
  color: var(--text-color-gray);
}




