.card {
  &__inner {
    margin-bottom: 40px;
    display: flex;
    gap: 60px;
  }

  &-slider {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 592px;
  }

  &-info {
    width: calc(100% - 592px - 60px);

    &__testimonials {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 20px;

      &-link {
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid var(--color-accent);
      }
    }

    &__triggers {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 60px;
  }

  &-features {
    width: calc(100% - 592px);

    &__title {
      margin-bottom: 20px;
    }
  }

  &-description {
    width: 592px;

    &__title {
      margin-bottom: 20px;
    }
  }
}

.slider-nav {
  width: 84px;
  overflow: hidden;

  & .swiper-wrapper {
    width: 95%;
    margin-left: 3%;
    padding: 2px 0;
  }

  &__item {
    height: 82px !important;
    width: 100%;
    background-color: var(--main-bg);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

    img {
      max-height: 100%;
      height: 100%;
    }

    &.swiper-slide-thumb-active {
      outline: 2px solid var(--color-accent);
    }
  }
}

.slider-block {
  width: calc(100% - 86px - 20px);
  max-height: 360px;
  height: 100%;
  overflow: hidden;

  &__slide {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4/3;
    }
  }
}

.vendor {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 14px;
  color: var(--text-color-gray);
}

.price {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  gap: 25px;
  line-height: 1;
  font-weight: 500;

  &__current {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-accent);
  }

  &__old {
    font-size: 18px;
    color: var(--text-color-gray);
    text-decoration: line-through;
  }
}

.discount {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
