.filters {
  position: relative;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &.fixed {
      position: sticky;
      top: 80px;
      left: 0;
    }
  }

  &-price {
    &__inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__title {
      user-select: none;
      cursor: pointer;
      padding: 10px 20px;
      transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        font-weight 0.3s ease-in-out;

      &::marker {
        content: '';
      }
    }

    &__block {
      display: inline-flex;
      position: relative;
      width: calc((100% / 2));
    }

    &__input {
    }

    .filter-price__btn {
      margin-bottom: 20px;
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;

      svg {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease-in-out;

        &:last-child {
          transform: rotate(180deg);
        }
      }

      &.js-active {
        svg:last-child {
          transform: rotate(0deg);
        }
      }
    }
  }

  &-has {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    // &:not(:first-of-type) {
    //   .control__column {
    //     border-top: none;
    //   }
    // }

    .control__column[open] {
      border-color: var(--color-accent);
      & > .filters-price__title {
        background-color: var(--color-accent);
        color: var(--color-white);
      }
    }
  }

  @media screen and (max-width: 1400px) {
    position: absolute;
    opacity: 0;
    display: none;
  }
}

.mobile-filters {
  display: none;

  @media screen and (max-width: 1400px) {
    position: sticky;
    top: 80px;
    left: 0;
    z-index: 100;
    display: block;
    width: 40px;
    height: 40px;
    grid-column: 1 span;

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--color-white);
    }

    @media (hover: hover) {
      &:hover {
        svg {
          stroke: var(--color-accent);
        }
      }
    }
  }
}
