.filters {
  position: relative;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.fixed {
      position: sticky;
      top: 80px;
      left: 0;
    }
  }

  &-price {
    &__inputs {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__title {
      user-select: none;
      cursor: pointer;
    }

    &__block {
      display: inline-flex;
      position: relative;
      width: calc((100% / 2));

      &:nth-of-type(1) {
        &::before {
          content: 'from';
          position: absolute;
          top: 0%;
          left: 15px;
          padding: 0 5px;
          transform: translateY(-50%);
          color: var(--text-color);
          background-color: var(--color-white);
        }
      }

      &:nth-of-type(2) {
        &::before {
          content: 'to';
          position: absolute;
          top: 0%;
          left: 15px;
          padding: 0 5px;
          transform: translateY(-50%);
          color: var(--text-color);
          background-color: var(--color-white);
        }
      }
    }

    &__input {
      width: 100%;
      padding: 0px 15px 0px 15px;
      border: 1px solid var(--border-color);
      background-color: transparent;
      height: 40px;
      border-radius: 10px;
      color: var(--text-color);

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    .filter-price__btn {
      margin-bottom: 20px;
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;

      svg {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease-in-out;

        &:last-child {
          transform: rotate(180deg);
        }
      }

      &.js-active {
        svg:last-child {
          transform: rotate(0deg);
        }
      }
    }
  }

  &-has {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  @media screen and (max-width: 1400px) {
    position: absolute;
    opacity: 0;
    display: none;
  }
}

.mobile-filters {
  display: none;

  @media screen and (max-width: 1400px) {
    position: sticky;
    top: 80px;
    left: 0;
    z-index: 100;
    display: block;
    width: 40px;
    height: 40px;
    grid-column: 1 span;

    svg {
      width: 100%;
      height: 100%;
      stroke: var(--color-white);
    }
  }
}
