.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 0.5rem 5rem;
  min-height: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--main-bg);

  .logo {
    display: block;
    width: 200px;
    text-transform: uppercase;
    filter: opacity(1);
    color: var(--text-color);
    font-weight: 500;

    img {
      max-width: 100%;
    }
  }

  &-triggers {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    filter: opacity(1);
  }
}
h1 {
  text-transform: uppercase;
}
