* {
  box-sizing: border-box;
}

body {
  font-family: 'TTNorms', sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-wrap: balance;
  box-sizing: border-box;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 var(--gutter);

  // @media screen and (max-width: 1400px) {
  //   width: auto;
  //   max-width: 100%;
  // }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

p {
  margin: 0;
  line-height: 1.6;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}
