:root {
  --main-bg: #fafafa;
  --text-color: #191919;
  --text-color-gray: #808080;
  --color-accent: #5d71dd;
  --color-white: #ffffff;

  --border-color: #808080;
  --border-radius: 8px;

  --gutter: 20px;
  --fixed-gutter: 80px;
}
