@use './libs/normalize.css';
@use './style/vars';
@use './style/fonts';
@use './style/style';

// Блоки
@use './style/blocks/header';
@use './style/blocks/filters';
@use './style/blocks/catalog';
@use './style/blocks/card';
@use './style/blocks/cart';
@use './style/blocks/not-found';

// ui
@use './style/ui/section';
@use './style/ui/title';
@use './style/ui/button';
@use './style/ui/controls';
@use './style/ui/trigger';
@use './style/ui/toggle';
@use './style/ui/form';
@use './style/ui/product';
@use './style/ui/price';
@use './style/ui/chars';
@use './style/ui/breadcrumbs';
@use './style/ui/stepper';
@use './style/ui/slider';
@use './style/ui/modal';

.error {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}